{% extends 'workers/base.html' %}

{% block content %}



<h1>{{ posts.title }}</h1>

{% if posts.photo %}
<p><img class="img-article-left" src="{{posts.photo.url}}"></p>
{% endif %}

<form method="POST">

    {% csrf_token %}
    <h1>Do you want to delete the post - {{ posts.title }}</h1>

    <div class="container">
        <input value="Confirm" type="submit" class="button"></a>
        <a href="{% url 'workers' %}" class="button">Back</a>
    </div>

</form>
<style>
    .button {
        appearance: button;
        -moz-appearance: button;
        -webkit-appearance: button;
        text-decoration: none;
        font: menu;
        color: ButtonText;
        display: inline-block;
        padding: 2px 8px;
    }
</style>

{% endblock %}
