{% extends 'workers/base.html' %}
{% load worker_tags %}
{% block content %}
<ul class="list-articles">

    {% for p in posts %}
    <li>
        <div class="article-panel">
            <p class="first">Category: {{ p.cat }}</p>
            <p class="last">Date: {{ p.time_update|date:"d-m-Y H:i:s" }}</p>
        </div>
        <div id="desc_person">
            {% if p.photo %}
            <p><img class="img-article-left thumb" src="{{ p.photo.url }}"></p>
            {% endif %}

            <h2>{{ p.title }}</h2>
            {% autoescape on %}
            {{ p.content|linebreaks|truncatewords:50 }}
            {% endautoescape %}
            <div class="clear"></div>
            <p class="link-read-post"><a class="btn btn-outline-secondary" href="{{ p.get_absolute_url }}">Читать пост</a></p>
            <p class="link-read-post"><a class="btn btn-outline-secondary" href="{% url 'delete_post' p.slug %}">Delete</a></p>
            <p class="link-read-post"><a class="btn btn-outline-secondary" href="{% url 'update_post' p.slug %}">Update</a></p>
        </div>
        {% endfor %}
</ul>
{% endblock %}

<style>
.clear {
   float: right;
}

</style>