aiohttp==3.7.4.post0
asgiref==3.3.4
async-timeout==3.0.1
attrs==21.2.0
beautifulsoup4==4.9.3
certifi==2021.5.30
chardet==4.0.0
Django==3.2.4
django-bootstrap4==3.0.1
django-crispy-forms==1.11.2
django-suit==0.2.14
django-suit-ckeditor==0.0.2
emoji==1.2.0
idna==2.10
multidict==5.1.0
Pillow==8.2.0
psycopg2==2.8.6
python-box==5.3.0
pythonji==0.1.1
pytz==2021.1
requests==2.25.1
reverse==0.1.0
soupsieve==2.2.1
sqlparse==0.4.1
typing-extensions==3.10.0.0
urllib3==1.26.5
voluptuous==0.12.1
yandex-weather-api==0.2.4
yarl==1.6.3

django-debug-toolbar~=3.2.1