{% extends  'base.html' %}
{% load crispy_forms_tags %}

{% block main %}

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Authorization</title>
</head>
<body>
<div class="card">
    <style>
        div.card {
            margin-top: 30px;

        }
    </style>
    <div class="card-body">
        <h4 id="log_in_text" class="card-title">Log in to your account</h4>

        <form id="auth_form" method="post">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}">
            {{ form|crispy }}
            <button type="submit" class="btn btn-primary btn-block">Log in</button>

            <div id="auth_list">

                <a id="password_reset" href="{% url 'password_reset' %}">Forgot Username/Password?</a>
                <br/>
                <a id="register" href="{% url 'register' %}">Create account? Sign up</a>

            </div>
            <style>
                a {
                    margin-left: 100px;
                }
            </style>
        </form>
    </div>
    {% endblock %}
</div>
</body>

