{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block main %}

<div class="card">
    <style>

        .card {
            margin-top: 60px;
        }

    </style>
    <div class="card-body">
        <h4 id="reset_password_text" class="card-title">Reset your password</h4>
        <form id="reset_form" method="post">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}">
            {{ form|crispy }}

            <button type="submit" class="btn btn-primary btn-block">Reset</button>

        </form>
        <a id="url_login_page" href="{% url 'login' %}">Back to login page</a>
    </div>

</div>

{% endblock %}
