{% load static %}

<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>

    <link rel="stylesheet" href="{% static 'weather/css/styles.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <div class="action-counter"><img src="{% static 'weather/img/cloud.png' %}" alt="logo_weather"></div>
    <div class="result_text"><h1>{{ weather }}</h1>
    </div>
    <form action="{% url 'weather_page' %}" method="post">

        {% csrf_token %}
        {{ form.as_p }}
        <div class='button_case'>
            <button class='btn btn-primary' type="submit">Search</button>
            <a href="{% url 'index' %}" class="btn btn-primary" type="button">Go to main page</a>
        </div>

    </form>

</body>
